body {
	font-family: 'Open Sans', sans-serif;
}

.buttons {
	padding: 10px;
}

.buttons button {
	width: 100%;
	border: 3px solid #009688;
	background-color: papayawhip;
}

button {
	background-color: #B2DFDB;
	border-radius: 8px;
	padding: 10px;
	width: 25%;
	font-size: 1em;
	cursor: pointer;
  	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  	outline: 1px solid;
  	outline-color: rgba(255, 255, 255, .5);
  	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

button:hover {
	background-color: #009688; 
	color: white;
  	border: 1px solid;
  	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  	outline-color: rgba(100, 200, 70, 0);
  	outline-offset: 15px;
  	text-shadow: 1px 1px 2px #427388; 
}

.rules {
  font-style: italic;
}

.status {
  font-size: 12px;
	background-color: #B2DFDB;
  margin-top: -70px;
	float: right;
	text-align: center;
	margin-right: 10%;
	border-radius: 10px;
}

.intro_img {
	  width: 40%;
    position: absolute;
    top: 40%;
    left: 30%;
    margin:-60px 10 10 -60px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}

.status_line {
	max-width: 50%;
	font-size: 1em;
	margin-left: 10%;
}

.setup_img {
	width: 70%;
}




/* timer */
.timer {
  margin-top: 20px;
  margin-left: 5px;
  position: relative;
  width: 50px;
  height: 80px;
  overflow: visible;
}

.glass {
  position: absolute;
  width: 0; height: 0;
  border-top: solid #009688 80px;
  border-left: solid transparent 50px;
  border-right: solid transparent 50px;
}

.glass::after {
  content: "";
  position: absolute;
  left: -50px; bottom: -80px;
  border-bottom: solid #009688 80px;
  border-left: solid transparent 50px;
  border-right: solid transparent 50px;
}

.glass::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: -10px; left: -6px;
  width: 12px; height: 20px;
  background-color: black;
  border-radius: 3px;
}

.top-sand {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: solid papayawhip 3px;
  border-left: solid transparent 2px;
  border-right: solid transparent 2px;
  right: -2px;
  margin-left: auto; margin-right: auto;
  position: absolute; bottom: 0;
  animation: drain 10s ease-in;
}  

.bottom-sand {
  position: absolute;
  bottom: -80px;
  border-bottom: solid papayawhip 80px;
  border-left: solid transparent 40px;
  border-right: solid transparent 40px;
  right: -40px;
  animation: fill 10s ease-out;
}

.sand {
  position: absolute;
  width: 0px; height: 80px;
  left: 50px; top: 80px;
  border-left: dotted papayawhip 3px;
  opacity: 0;
  animation: shift 0.1s linear infinite;
}

/* timer end*/



@media screen and (max-width: 800px) {
  .image img {
  	max-width: 50%;
  }
  .status {
  	margin-right: 10%;
  }
}

@media screen and (max-width: 620px) {
  .image img {
  	max-width: 50%;
  }
  .status {
  	margin-right: 5%;
  	max-width: 150px;
  	font-size: 0.8em;
  }
  button {
		width: 50%;
		font-size: 0.7em;
	}
}

@media screen and (max-width: 500px) {

  .image img {
  	max-width: 50%;
  }
  .status {
  	margin-right: 0;
  	max-width: 100px;
  	font-size: 0.7em;
  }
}

@media screen and (max-width: 320px) {
  .image img {
  	max-width: 80%;
  	float: top;
  }
  .image {
  	position: absolute;
  }
  .status {
  	position: absolute;
  	margin-top: 80%;
  	margin-right: 0;
  	max-width: 100px;
  	font-size: 0.7em;
  }
  h1 {
  	font-size: 0.7em;
  }

  .intro_img {
	background-color: blue;
	width: 50%;
    margin-left: 5px;
    margin-top: -80px;
	}

  .decision {
    width: 100%;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}


/*timer keyframes*/

@keyframes shift {
  0% {
    top: 80px;
  }
  100% {
    top: 80px;
    height: 80px;
  }
}

@keyframes fill {
  0% { 
    border-right: solid transparent 2px;
    border-bottom: solid papayawhip 2px;
    border-left: solid transparent 2px;

    right: -2px;
  }
  100% {
    border-right: solid transparent 35px;
    border-bottom: solid papayawhip 80px;
    border-left: solid transparent 35px;

    right: -35px;
  }
}

@keyframes drain {
  0% { 
    border-top: solid papayawhip 80px;
    border-right: solid transparent 35px;
    border-left: solid transparent 35px;

    right: -35px;
  }
  100% {
    border-top: solid papayawhip 3px;
    border-right: solid transparent 2px;
    border-left: solid transparent 2px;
    right: -2px;
  }
}
/* timer keyframes end*/







