.buttons {
	width: 75%;
	background-color: blue;
	padding: 20px;
	margin-left: 25%;
}

button {
	margin: 20px;

}

.image img {
	width: 50%;
}

.status {
	background-color: papayawhip;
	float: right;
	text-align: right;
	max-width: 25%;
}
