body {
  font-family: 'Open Sans', sans-serif;
}

.buttons {
  padding: 10px;
}

.buttons button {
  width: 100%;
  border: 3px solid #009688;
  background-color: papayawhip;
}

button {
  background-color: #B2DFDB;
  border-radius: 8px;
  padding: 10px;
  width: 25%;
  font-size: 1em;
  cursor: pointer;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

button:hover {
  background-color: #009688; 
  color: white;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(100, 200, 70, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

.rules {
  font-style: italic;
}

.status {
  font-size: 12px;
  background-color: #B2DFDB;
  margin-top: -70px;
  float: right;
  text-align: center;
  margin-right: 10%;
  border-radius: 10px;
}


.status_line {
  max-width: 40%;
  font-size: 1em;
}

.setup_img {
  width: 50%;
}


.decision {
    margin-left: 5%;
}



/*   SVG */

.theSVG {
  margin: 1%;
}

svg {
  max-height: 150px;
}

.topU{
  fill: papayawhip;
  stroke: black;
  stroke-width: 3px;
  animation: 3s empty infinite alternate;
  animation-delay: 2s;
  transform-origin: 50% 50%;
}

.middleU {
  fill: #00796B;
  stroke: black;
  stroke-width: 3px;

  animation: 4s empty infinite alternate;
  animation-delay: 1s;   
  transform-origin: 50% 50%;
}

.bottomU{
  fill: #B2DFDB;
  stroke: black;
  stroke-width: 3px;
}

.topL{
  fill: papayawhip;
  stroke: black;
  stroke-width: 3px;
  animation: 3s fill infinite alternate;
  animation-delay: 2s;
  transform-origin: 50% 50%;

}

.middleL{
  fill: #00796B;
  stroke: black;
  stroke-width: 3px;
  animation: 4s fill infinite alternate;
  animation-delay: 1s;
  transform-origin: 50% 50%;

}

.bottomL{
  stroke: black;
  fill: #B2DFDB;
  stroke-width: 3px;
}



/*   SVG END */

.svgstart {
  margin: 20px;
  top: 10px;
  left: 5%;
}

.mertleoutline {
  stroke-width: 7px;
  stroke-dasharray: 750;
  stroke-dashoffset: -750;
  animation: moutline 5s forwards;
}



@media screen and (max-width: 800px) {
  .image img {
    max-width: 50%;
  }
  .status {
    margin-right: 10%;
  }
}

@media screen and (max-width: 620px) {
  .image img {
    max-width: 50%;
  }
  .status {
    margin-right: 5%;
    max-width: 150px;
    font-size: 0.8em;
  }
  button {
    width: 50%;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 500px) {

  .image img {
    max-width: 50%;
  }
  .status {
    margin-right: 0;
    max-width: 100px;
    font-size: 0.7em;
  }

  .decision {
    margin-left: 0.5%;
  }
}

@media screen and (max-width: 320px) {
  .image img {
    max-width: 80%;
    float: top;
  }
  .image {
    position: absolute;
  }
  .status {
    position: absolute;
    margin-top: 80%;
    margin-right: 0;
    max-width: 100px;
    font-size: 0.7em;
  }
  h1 {
    font-size: 0.7em;
  }

  .intro_img {
    background-color: blue;
    width: 50%;
    margin-left: 5px;
    margin-top: -80px;
  }

  .decision {
    width: 100%;
  }

  .setup_img {
    width: 80%;
  }

  .svgstart {
    position: absolute;
    top: 15%;
    left: -100px;
  }
}

@media screen and (max-width: 200px) {
    svg {
    max-height: 100px;
    position: absolute;
    left: 0;
    left: -40%;
  }
}








@keyframes fillup {
  0% { 
    border-right: solid transparent 2px;
    border-bottom: solid papayawhip 2px;
    border-left: solid transparent 2px;

    right: -2px;
  }
  100% {
    border-right: solid transparent 35px;
    border-bottom: solid papayawhip 80px;
    border-left: solid transparent 35px;

    right: -35px;
  }
}






@keyframes fill{
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes empty{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moutline {
  from {
    stroke-dashoffset: -750;
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}




